<%= form_with model: photo do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% photo.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
    <% photo.errors.full_messages_for(:url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :width %><br>
    <%= form.number_field :width %><br>
    <% photo.errors.full_messages_for(:width).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= form.label :height %><br>
    <%= form.number_field :height %><br>
    <% photo.errors.full_messages_for(:height).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
